@import "tailwindcss";

@theme {
    --color-navy: #0f172a;
    --color-blue-shade: #152032;
    --color-light-blue: #3b82f6;
    --color-purple: #a855f7;
    --color-green: #22c55e;
    --color-blue-pale: #162033;
    --color-blue-slate: #334155;
}

.card {
    @apply h-full flex-1 p-5 rounded-xl flex flex-col justify-start items-start md:px-6 md:py-5;
}
    

    
